export(genSED)
export(genShark)
export(genSting)
export(write.custom.dataset)
export(write.SED)
export(get_shark_path)

import("ProSpect")
import("data.table")
import("hdf5r")
import("celestial")
import("bit64")
import("foreach")
import("checkmate")

importFrom("stats", "approxfun")
importFrom("utils", "data", "txtProgressBar", "setTxtProgressBar")
importFrom("snow", "makeCluster", "stopCluster")
importFrom("doSNOW", "registerDoSNOW")
