exportPattern("^[[:alpha:]]+")

import("ProSpect")
import("data.table")
import("hdf5r")
import("celestial")
import("bit64")
import("foreach")
import("snow")
import("doSNOW")
import("checkmate")

importFrom("stats", "approxfun")
importFrom("utils", "data")
